{% extends 'main.html' %}
{% load static %}

{% block article %}
<h6>Дата публикации: {{article.date}}</h6>
<h4>{{article.title}}</h4>
<p> {{article.text}} </p>
<p><img src="{% static 'ParkOmaha-icons-ltBLUE_thumbsup.png' %}" width="25px" height="25px">{{article.likes}} </p>
<hr>
<div class="large-offset-1 large-8 columns">
    <p>Комментарии:</p>
    {% for comment in comments %}
    <p>{{comment.text}}</p>

    {% endfor %}

    {% if username %}

    <form action="{% url 'article_app:add_comment' article.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button" value="Добавить комментарий">
    </form>

    {% endif %}
    {% endblock %}
</div>